<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>COVID-19 Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<div class="container">
<body>

<div class="jumbotron">
    <h1> COVID-19 TRACKER</h1>
    <h3 class="lead">Total Active Cases - </h3>
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>

    <hr class="my-4">
</div>



<table class="table table-striped">
    <tr>
        <th>Country</th>
        <th>State</th>
        <th>Current Active Cases</th>
        <th>Changes Since Yesterday</th>
    </tr>
    <tr th:each="locationStat : ${locationStats}">
        <td th:text="${locationStat.Country}"></td>
        <td th:text="${locationStat.State}"></td>
        <td th:text="${locationStat.currentTotal}">0</td>
        <td th:text="${locationStat.difference}">0</td>
    </tr>
</table>
</div>

</body>

</html>